@use 'colors.scss' as *;
.container {
	margin: 0 auto;
	padding: 0 1em;
	width: 100%;
}

.section-title {
	position: relative;
	margin-bottom: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	font-size: 3.1rem;
	color: $color-3;

	&::before {
		position: absolute;
		content: '';
		bottom: -0.8rem;
		background-color: $color-3;
		height: 4px;
		border-radius: 4px;
		width: 12%;
	}
}

.section-box {
	font-size: 2.2rem;
	&__text{	margin-bottom: .8em;}

}

@media (min-width: 992px) {
	.section-title {
		font-size: 4.3rem;
	}
	.section-text {
		font-size:2.4rem;
	}
}
