@use "colors.scss" as *;

.contact {
	&__section {
		position: relative;
		margin-bottom: 2em;
		overflow: hidden;
	}
	&__wrapper {
		margin-bottom: 2em;
	}
	&__section-bg {
		position: absolute;
		bottom: -4%;
		right: 0;
		width: 80%;
		transform: rotate(25deg);
		pointer-events: none;
		opacity: 0.1;
	}
	&__details {
		position: relative;
		padding: 1.5em;
		background-color: $color-3;
		color: $color-4;
		border-radius: 4px;
		height: 100%;
	}
	&__details-title {
		margin-bottom: 2em;
	}
	h3 {
		margin-bottom: 1em;
		font-size: 2.8rem;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
	}
	p {
		margin-bottom: 0.5em;
		font-size: 2.6rem;
	}
	.ti {
		position: relative;
		top: 7px;
		font-size: 3rem;
	}
	&__box {
		display: flex;
		flex-direction: column;
		position: relative;
		width: 100%;
	}
	&__input {
		margin-bottom: 2em;
		padding: 1em;
		background: none;
		border: 1px solid $color-3;
		border-radius: 4px;
		outline: none;
		color: $color-4;
		font-size: 1.4rem;
	}
	&__input:focus, .contact__textarea:focus{
		border-bottom: 3px solid $color-3;
	}
	&__input:focus ~,
	.contact__input:valid ~,
	.contact__textarea:focus ~,
	.contact__textarea:valid ~ {
		.contact__label {
			transform: translate(15px, -30px);
			font-weight: bold;
		}
	}
	&__label {
		position: absolute;
		top: 14px;
		padding: 0 1em;
		font-size: 1.6rem;
		color: $color-4;
		transition: transform .3s;
	}
	&__textarea {
		padding: 1em;
		background: none;
		border: 1px solid $color-3;
		border-radius: 4px;
		outline: none;
		color: $color-4;
		font-size: 1.4rem;
	}

	&__btn {
		margin-top: 2em;
		padding: 1em;
		font-size: 1.6rem;
		width: 100%;
		background-color: $color-3;
		color: $color-4;
		border: none;
		border-radius: 8px;
		cursor: pointer;
		transition: background-color .3s, color .3s;
		&:hover {
			background-color: #7d5e45;
		}
	}
	.privacy-policy {
		font-size: 1.6rem;
	}
}

@media (min-width: 992px) {
	.contact {
		&__section-bg {
			width: 41%;
		}
	}
}

@media (min-width: 1150px){

	.contact {
		&__wrapper{
			display: flex;
		}
		&__section {
			margin-bottom: 0;
			margin-right: 2em;
			width: 30%;
		}
		&__form {
			width: 70%;
		}
	}

}
